<!DOCTYPE html>
<html lang="en" ng-app="frApp">
    
<head>
    {% block style %}
    {% endblock style %}

    {% block head %}
    {% endblock head %}

    {% block title %}
    {% endblock title %}
</head>
<body ng-controller="frAppCtrl">
    <div class="container">
    
        <div class="page-header">
            <img src="{{ url_for('static', filename='img/it-header.jpg')}}" height="150">
        </div><!-- .page-header -->
 
        <div class="row" id="top">
            {% block leftnav %}
            {% endblock leftnav%}

            <div id="body" class="col-md-10">
                <div class="tab-content">
                    {% block mainbody %}
                    {% endblock mainbody %}
                </div><!-- .tab-content -->
            </div><!-- #body .col-md-10 -->
        </div><!-- .row #top --> 

    </div><!-- .container -->
</body>

{% include 'create-feature-request-modal.html' %}
{% include 'create-client-modal.html' %}

</html>
