{% extends 'modal.html' %}

{% block modalheader %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>                 
    <h4 class="modal-title">Create New Feature Request</h4>
</div>
{% endblock modalheader %}

{% block navtab %}
<ul class="nav nav-tabs" role="tablist">
    <li id="feature-request-details-nav" role="presentation" class="active disabled">
        <a href="#feature-request-details" role="tab"><strong>Feature Request Details</strong></a>
    </li>
</ul>
{% endblock navtab %}

{% block tabcontent %}
<div class="tab-content"><!-- .tab-content -->
    <!-- LEAD DETAILS BEGIN -->
    <div role="tabpanel" class="tab-pane active" id=""><!-- .tab-pane #student-details -->
        <form id="feature-request-create-form" class="form-horizontal" role="form"><br><!-- "#student-details-form" -->
                {{ forms.input('Title:', id='title', name='title', placeholder='i.e: Add new feature', form='frForm') }}
                {{ forms.textarea('Description:', id='description', name='description', placeholder='i.e: Long description...', form='frForm', rows='5') }}
                {{ forms.input('Client:', id='client', name='client', placeholder='i.e: KIV', type='number', form='frForm') }}
                {{ forms.input('Client Priority:', id='client_priority', name='client_priority', placeholder='1, 2, 3, 4, 5', form='frForm', type='number') }}
                {{ forms.input('Target Date:', id='target_date', name='target_date', placeholder='2016/09/08', form='frForm', type='date') }}
                {{ forms.input('Ticket URL:', id='ticket_url', name='ticket_url', placeholder='https://www.google.com', form='frForm', type='url') }}
                {{ forms.input('Product Area:', id='product_area', name='product_area', placeholder='KIV', form='frForm') }}

            <div class="modal-footer">
                {{ forms.modal_footer_button('create-feature-request-submit', 'Submit', 'primary', 'toggle', 'onSubmit')}}
                {{ forms.modal_footer_button('create-feature-request-close', 'Close', 'danger', 'dismiss')}}
            </div><!-- .modal-footer -->

        </form><!-- "#lead-details-form" -->
    </div><!-- .tab-pane #student-details-->

</div><!-- .tab-content -->
<script>
//$('#create-feature-request-submit').click(function(){
//    url = '/api/feature-request/create';
//    form = $('#feature-request-create-form')
    
//    $.ajax({
//        type: 'POST',
//        url: url, 
//        data: form,
//        success: console.log("Success") 
//    });
//});
</script>
{% endblock tabcontent %}
