{% macro input(label, catch_kwargs=true) %}
<div class="form-group">
    <label
        {% if kwargs.id -%} 
            for="{{ kwargs.id }}" 
        {% endif -%}
        class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-6">
        <input
        {% if kwargs.type -%}
            type="{{ kwargs.type }}"
        {% endif -%}
         
        class="form-control" 
        {% if kwargs.name -%}
            name="{{ kwargs.name }}" 
        {% endif -%}
            
        {% if kwargs.id -%}
            id="{{ kwargs.id }}" 
        {% endif -%}
        
        {% if kwargs.placeholder -%}
            placeholder="{{ kwargs.placeholder }}"
        {% endif -%} 
        
        {% if kwargs.form -%}
            ng-model="{{ kwargs.form }}.{{ kwargs.id }}"
        {% endif -%}
        >
    </div>
</div>
{% endmacro %}

{% macro modal_footer_button(id='', label='', type='primary', action='toggle', ngClick='') %}
<button type="button" 
        data-{{ action }}="modal" 
        id="{{ id  }}" 
        class="btn btn-{{ type }}"
        {% if ngClick %} ng-click="{{ ngClick }}()" {% endif %}
    > {{ label }} </button>
{% endmacro %}
