{% import 'forms.html' as forms %}

{% block modal %}
{% endblock modal %}
    <div class="modal-dialog modal-lg"><!-- .modal-dialog .modal-lg -->
        <div class="modal-content"><!-- .modal-content -->

            {% block modalheader %}
            {% endblock modalheader %}
            
            <div class="modal-body">
                {% block navtab %}
                {% endblock navtab %}

                {% block tabcontent %}
                {% endblock tabcontent%}
            </div><!-- .modal-body -->

        </div><!-- .modal-content -->
    </div><!-- .modal-dialog .modal-lg -->
</div><!-- .modal fade #promo-create-voucher-modal -->
